{% extends 'layout.html' %}
{% load static %}
{% block content %}
   <link href="{% static 'css/new.css' %}" type="text/css" rel="stylesheet">
    <h2 xmlns="http://www.w3.org/1999/html">Welcome to jobway</h2>

<div>
<div class="topnav">
   <a href="/compform" class="">Post </a>
  <div class="search-container">
  </div>
</div>
    <a href="compform">
        <div style="float: left; border: solid black 1px; height:500%; width:50%;">
            <font size="100px">Post  job</font>
        </div>
    </a>

<div style="float: right; border: solid black 1px; height:500%; width:50%;">
<form action="/search/" method="get">
        <input type="text" name="q">
        <input type="submit" value="Search">
    </form>

<p>You searched for: <strong>{{ query }}</strong></p>
    {% if details %}
            <p>Found {{ details|length }} detail{{ details|pluralize }}.</p>
            <ul>
                {% for detail in details %}
                <li>{{ detail.name }}</li>
                <li>{{ detail.role }}</li>
                <li>{{ detail.website }}</li>
                <li>{{ detail.description }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No details matched your search criteria.</p>
        {% endif %}
</div>
    </div>
{% endblock %}

